/* #663306	(102,51,6)
#bc9573	(188,149,115)
#3a5e52	(58,94,82)
#9f3632	(159,54,50)
#6e1b1b */

*{
    text-align: center;
}

html, body {
    overflow: auto;
}

body{
    background-image: url("../img/money.jpeg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

header{
    display: flex;
    justify-content: center;
    align-content: center;
}

h1{
    color:	#44ae8a;
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: black 3px 2px 0px;
    background-color: #3a5e52;
    width: 40%;
    border: solid #44ae8a;
    filter: drop-shadow(2px 2px 5px darkgoldenrod);
}

#box{
    height: 35rem;
    width: 55rem;
    background-color: #6e1b1b;
    border: solid 5px darkgoldenrod;
    filter: drop-shadow(2px 2px 10px darkgoldenrod);
}

#container{
    display: grid;
    place-items: center;
}

h3,h2{
    margin: 0;
    color: white;
}

#areas, #sym_area, #cnt_area{
    display: none;
    color: white;
}

#choice{
    margin: 3% auto;
    color: black;
}

button, label, input{
    margin: 1% auto;
    color: black;
}

#cnt_area p{
    margin: 0;
}

#top{
    background-color:#3a5e52; 
}

#results{
    background-color: #6e1b1b !important;
    display: none;
}
#result_country{
    background-color: #6e1b1b !important;
    display: none;
    margin-top: 1.5%;
}

#results h3{ 
    padding: 1%;
}

#result_country p{ 
    padding: 0%;
    margin: 0;
}

#result_curr{
    display: none;
}

#conv_area, #curr_name_area, #result_conv_sym, #result_conv_name{
    display: none;
}

footer{
    margin: 0.5% auto;
}


footer a{
    text-decoration: none;
    color:#9f3632;
}

footer a:hover{
    text-decoration: underline #9f3632;
    color:#3a5e52;
}

@media only screen and (max-width: 600px){
    #box{
        width: 23rem;
        height: 49rem;
        filter: drop-shadow(1px 1px 5px darkgoldenrod);
        border: solid 2px darkgoldenrod;
    }

    h1{
        color:	#44ae8a;
        font-size: 1.2rem;
        text-transform: uppercase;
        text-shadow: black 2px 1px 0px;
        background-color: #3a5e52;
        width: 70%;
        border: solid #44ae8a;
        filter: drop-shadow(1px 1px 1px darkgoldenrod);
    }
}